{% extends 'base.html' %}

{% block title %}Memories{% endblock %}

{% block authorization %}
    <a href="{% url 'social:begin' 'facebook' %}" class="text-white text-right ml-4">Login with Facebook</a>
{% endblock %}

{% block content %}
    <section class="main pt-5 text-primary">
        <div class="col container text-center">
            <h2 class="main__title font-weight-light">Capture your travel history</h2>
            <p class="main__description pt-3">
                The app allows you to store memories of the places you visit.
                <br>
                Just log in with Facebook and start using it now.
            </p>
        </div>
        <div class="main__image d-flex justify-content-center align-items-end">
            {% load static %}
            <img src="{% static 'user/img/travel.png' %}" alt="travel">
        </div>
    </section>
{% endblock %}